name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install + test Django
        run: |
          cd services/django_app
          pip install -r requirements.txt
          pytest -q

      - name: Install + test FastAPI
        run: |
          cd services/fastapi_app
          pip install -r requirements.txt
          pytest -q

